<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net47" />
  <package id="TencentCloudSDK" version="3.0.308" targetFramework="net471" />
</packages>